<%- include('../partials/header') %>
<div class="head">
	<div class="social">
		<a
			href="https://facebook.com/htlegaladvisory"
			target="_blank"
			><i class="fa fa-facebook"></i
		></a>
		<a
			href="https://www.instagram.com/htlegal/"
			target="_blank"
			><i class="fa fa-instagram"></i
		></a>
		<a
			href="https://mobile.twitter.com/HTLegal_S"
			target="_blank"
			><i class="fa fa-twitter"></i
		></a>
		<a
			href="https://www.linkedin.com/company/h-t-legal/"
			target="_blank"
			><i class="fa fa-linkedin"></i
		></a>
		<a href="https://wa.me/2348161353700" target="_blank"
			><i class="fa fa-whatsapp"></i
		></a>
	</div>
	<div class="email">
		<a
			href="mailto:htlegalservice@gmail.com"
			style="text-decoration: none; color: #fff"
		>
			<i class="fa fa-envelope"></i>
			htlegalservice@gmail.com
		</a>
	</div>
</div>

<div class="landing">
	<%- include('../partials/nav') %>
	<div class="landing-text">
		<h3>Need any help?</h3>
		<h1>
			Accessible and cost effective legal services for all.
		</h1>
		<p>
			At HT Legal, we are dedicated to understanding the
			uniqueness of existing as well as potential clients
			and this helps us to tailor our work to their
			distictive needs.
		</p>
		<div class="landing-buttons">
			<a href="#about-section" class="btn about-btn">
				About Us
			</a>
		</div>
	</div>
</div>

<div class="about-section" id="about-section">
	<div class="about-div">
		<div class="about-heading">
			<p>Why Choose Us?</p>
			<h2>Experience. Respect. Result</h2>
			<hr />
			<img
				src="https://images.pexels.com/photos/5669602/pexels-photo-5669602.jpeg?auto=compress&cs=tinysrgb&w=600"
				alt=""
			/>
		</div>
		<div class="about-text">
			<p>
				At HT Legal, we are dedicated to understanding the
				uniqueness of existing as well as potential clients
				and this helps us to tailor our work to their
				distictive needs. We place great emphasis on
				professionalism, competence, and respectability and
				we strive to build the feeling of confidence and
				trust together with our clients so that they can
				contact us anytime and anywhere. Over many years,
				our team has gained the experience and expertise
				necessary to make your journey with us as seamless
				as possible. We offer cost effective legal solutions
				to micro, small and medium enterprises as well as
				cater to individual legal needs.
			</p>
			<p>
				Professional excellence is the hallmark of our
				practice. With HT Legal, you can expect timely
				resolution, excellent delivery and value for money
				spent. We believe ourselves to be properly
				positioned in a challenging and constantly changing
				market, where we help our clients overcome their
				most complex legal issues. By working with HT Legal,
				you get more than professional legal representation,
				you get premium value for expended resources and
				solutions delivered seamlessly. We are consistent,
				patient and professional, giving each new case our
				undivided attention whilst walking you through each
				step of the process. Our Services include the
				following:
			</p>
			<div class="service-list">
				<ul>
					<li>EMPLOYMENT & LABOUR RELATIONS</li>
					<li>CORPORATE & BUSINESS ADVISORY</li>
					<li>ESTATE ADMINISTRATION</li>
				</ul>
				<ul>
					<li>TECHNOLOGY</li>
					<li>FAMILY LAW</li>
					<li>GENERAL SERVICES</li>
				</ul>
			</div>
			<div>
				<a
					href="https://forms.gle/D5Zf3JMrEYbquHKj7"
					target="_blank"
					class="btn"
					style="
						background-color: #ffd230;
						color: #000;
						font-weight: 700;
						font-size: 1rem;
						margin-top: 2rem;
					"
				>
					Book an Appointment
				</a>
			</div>
		</div>
	</div>
</div>

<div class="services-section" id="services-section">
	<p style="text-align: center; color: #93673f">
		What we do.
	</p>
	<h1 style="text-align: center">Our Services</h1>
	<div class="services-cards">
		<div class="card">
			<div class="card-text">
				<h3>EMPLOYMENT & LABOUR RELATIONS</h3>
				<hr />
				<ol>
					<li>Employee Onboarding</li>
					<li>Confidentiality Agreements</li>
					<li>Constructive Dismissal</li>
					<li>Employment Contracts</li>
					<li>Non-compete Agreements</li>
					<li>NDAs and Non-Circumvention Agreements</li>
				</ol>
				<!-- <a href="#" class="btn">Learn More</a> -->
			</div>
		</div>
		<div class="card">
			<div class="card-text">
				<h3>CORPORATE & BUSINESS ADVISORY</h3>
				<hr />
				<ol>
					<li>
						Formation of Companies/Business Registration
					</li>
					<li>Legal audit and Due Diligence</li>
					<li>Taxation Advisory</li>
					<li>Trademark Registration</li>
					<li>Copyright and Patent Registration</li>
					<li>Contract Drafting and Review</li>
					<li>General Transaction Advisory</li>
				</ol>
				<!-- <a href="#" class="btn">Read More</a> -->
			</div>
		</div>
		<div class="card">
			<div class="card-text">
				<h3>ESTATE ADMINISTRATION</h3>
				<hr />
				<ol>
					<li>Obtaining Probate</li>
					<li>Processing Letters of Administration</li>
					<li>Drafting of Wills/Codicil</li>
					<li>
						Lodging of Wills at the Probate Section of the
						High Court
					</li>
				</ol>
				<!-- <a href="#" class="btn">Read More</a> -->
			</div>
		</div>
	</div>
	<div class="services-cards">
		<div class="card">
			<div class="card-text">
				<h3>TECHNOLOGY</h3>
				<hr />
				<p>
					Are you a software developer? Does your work
					entail the development of mobile and web
					applications? We offer legal advisory and contract
					drafting services for software licensing, software
					maintenance and mobile app development.
				</p>
				<!-- <a href="#" class="btn">Read More</a> -->
			</div>
		</div>
		<div class="card">
			<div class="card-text">
				<h3>GENERAL SERVICES</h3>
				<hr />
				<ol>
					<li>LIRS Tax Card Processing</li>
					<li>Tax Clearance Certificates</li>
					<li>CBN License</li>
					<li>DPR License</li>
					<li>BPP Registration</li>
					<li>
						Land Purchase Agreements and Contracts of Sale
					</li>
					<li>Hire Purchase Transactions</li>
					<li>Legal Opinion Writing/Legal Consultation</li>
				</ol>
				<!-- <a href="#" class="btn">Learn More</a> -->
			</div>
		</div>
		<div class="card" style="height: 15rem">
			<div class="card-text">
				<h3>FAMILY LAW</h3>
				<hr />
				<ol>
					<li>Processing Marriage Certificates</li>
					<li>Judicial Separation and Divorce</li>
					<li>Child custody and Guardianship</li>
				</ol>
				<!-- <a href="#" class="btn">Learn More</a> -->
			</div>
		</div>
	</div>

	<!-- <div class="blog">
		<p style="text-align: center; color: #93673f">
			Our Blog.
		</p>
		<h1 style="text-align: center">Latest Posts.</h1>

		<div
			class="blog-cards row row-cols-1 row-cols-md-3 g-4"
		>
			<% blogs.forEach(function(blog){ %>
			<a href="/api/blogs/<%= blog._id %>">
				<div
					class="blog-card"
					style="
						background-image: linear-gradient(
								rgba(0, 0, 0, 0.527),
								rgba(0, 0, 0, 0.5)
							),
							url('<%= blog.image %>');
					"
				>
					<div class="card-date"><%- blog.createdAt %></div>
					<div class="card-title"><%= blog.title %></div>
				</div>
			</a>
			<% }); %>
		</div>
	</div> -->
	<div class="testimonials">
		<p style="text-align: center; color: #93673f">
			What our clients have to say.
		</p>
		<h1 style="text-align: center">Clients Testimonials</h1>
		<div
			id="carouselExampleIndicators"
			class="carousel slide"
			data-bs-ride="carousel"
		>
			<div class="carousel-indicators">
				<button
					type="button"
					data-bs-target="#carouselExampleIndicators"
					data-bs-slide-to="0"
					class="active"
					aria-current="true"
					aria-label="Slide 1"
				></button>
				<button
					type="button"
					data-bs-target="#carouselExampleIndicators"
					data-bs-slide-to="1"
					aria-label="Slide 2"
				></button>
				<button
					type="button"
					data-bs-target="#carouselExampleIndicators"
					data-bs-slide-to="2"
					aria-label="Slide 3"
				></button>
			</div>
			<div class="carousel-inner">
				<div
					class="carousel-item active"
					style="text-align: center"
				>
					<h3>
						"HT legal is literally a life saver. Always
						ready and willing to help solve issues. It's
						their prompt and excellent service delivery for
						us. Saving us plenty headache and wahala that
						comes with running an event business in
						Nigeria."
					</h3>
					<p>Mo' Events Ville</p>
				</div>
				<div class="carousel-item" style="text-align: center">
					<h3>
						The team at HT legal really do amazing work!
						They’re fast, efficient and carry you along the
						entire process. Value for your money is
						definitely guaranteed.
					</h3>
					<p>Opeyemi L. Akinmade</p>
				</div>
				<div class="carousel-item" style="text-align: center">
					<h3>
						HT legal Advisory services are one of the best at what they do
					</h3>
					<p>
						Otega godstime
					</p>
				</div>
			</div>
			<button
				class="carousel-control-prev"
				type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide="prev"
			>
				<span
					class="carousel-control-prev-icon"
					aria-hidden="true"
				></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button
				class="carousel-control-next"
				type="button"
				data-bs-target="#carouselExampleIndicators"
				data-bs-slide="next"
			>
				<span
					class="carousel-control-next-icon"
					aria-hidden="true"
				></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>
